<a href="https://colab.research.google.com/github/adurugkar/Deeplearning/blob/main/keras_tuner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## California Housing Dataset

in this example, we are using the default dataset california Housing Dataset present in the Google Colab.

In [ ]:
## importing libraries
import math
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras import Model, Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError
import kerastuner as kt

# Reading the files

In [ ]:
#train file
train_df = pd.read_csv('https://raw.githubusercontent.com/vtech20/keras_tuner_sample/main/california_housing_train.csv')

#test file
test_df = pd.read_csv('https://raw.githubusercontent.com/vtech20/keras_tuner_sample/main/california_housing_test.csv')

# Check the train data and test data

In [ ]:
train_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
test_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
# shape of train and test
print(train_df.shape)
print(test_df.shape)

(17000, 9)
(3000, 9)

# Dataset Description

In [ ]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,17000.0,-119.562108,2.005166,-124.3500,-121.790000,-118.4900,-118.000,-114.3100
latitude,17000.0,35.625225,2.137340,32.5400,33.930000,34.2500,37.720,41.9500
housing_median_age,17000.0,28.589353,12.586937,1.0000,18.000000,29.0000,37.000,52.0000
total_rooms,17000.0,2643.664412,2179.947071,2.0000,1462.000000,2127.0000,3151.250,37937.0000
total_bedrooms,17000.0,539.410824,421.499452,1.0000,297.000000,434.0000,648.250,6445.0000
population,17000.0,1429.573941,1147.852959,3.0000,790.000000,1167.0000,1721.000,35682.0000
households,17000.0,501.221941,384.520841,1.0000,282.000000,409.0000,605.250,6082.0000
median_income,17000.0,3.883578,1.908157,0.4999,2.566375,3.5446,4.767,15.0001
median_house_value,17000.0,207300.912353,115983.764387,14999.0000,119400.000000,180400.0000,265000.000,500001.0000

In [ ]:
test_df.describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,3000.0,-119.589200,1.994936,-124.1800,-121.810,-118.48500,-118.020000,-114.4900
latitude,3000.0,35.635390,2.129670,32.5600,33.930,34.27000,37.690000,41.9200
housing_median_age,3000.0,28.845333,12.555396,1.0000,18.000,29.00000,37.000000,52.0000
total_rooms,3000.0,2599.578667,2155.593332,6.0000,1401.000,2106.00000,3129.000000,30450.0000
total_bedrooms,3000.0,529.950667,415.654368,2.0000,291.000,437.00000,636.000000,5419.0000
population,3000.0,1402.798667,1030.543012,5.0000,780.000,1155.00000,1742.750000,11935.0000
households,3000.0,489.912000,365.422710,2.0000,273.000,409.50000,597.250000,4930.0000
median_income,3000.0,3.807272,1.854512,0.4999,2.544,3.48715,4.656475,15.0001
median_house_value,3000.0,205846.275000,113119.687470,22500.0000,121200.000,177650.00000,263975.000000,500001.0000

The distribution of the train and test are pretty same

## Null value check

In [ ]:
train_df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
test_df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

No null value in train dataseta and test dataset

# split the data into dependent and independent features

In [ ]:
Target = 'median_house_value'

In [ ]:
x_train,y_train =train_df.drop(Target,axis=1), train_df[Target]
x_test,y_test = test_df.drop(Target,axis=1), test_df[Target]

# feature Scalling

In [ ]:
# feature scalling
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

Keras Tuner
An open-source Python library called Keras Tuner was created specifically for adjusting the hyperparameters of artificial neural networks(ANN). Currently, the Keras tuner supports four different types of tuners or algorithms:<br>

  - Bayesian Optimization
  - Hyperband
  - Sklearn
  - Random Search <br>

The Hyper model is the one you want to tune.

- Using the model-building feature we can enable this tuning feature<br>

We are going to build the ann with 4 layers

1. Input layer
2. Hidden layer 1
3. Hidden layer 2
4. Output Layer<br>

unit1, unit2, unit3 will have the range between 25 to 512 with step 32

These will be apply to input layer and hidden layers

The learning rate will be picked up based on given inputs and hence we are use choice method to perform that action

Since this is the regression problem, we are using 'linear' activation function in the output layer. on the hidden layers we are using 'relu'.

For weight updation, we are using adam optimizers and the loss will be MSLE (Mean Squarred Log Error)

In [ ]:
msle = MeanSquaredLogarithmicError()


def build_annmodel(hp):
  model = tf.keras.Sequential()
  
  units1 = hp.Int('units1', min_value=25, max_value=512, step=32)
  units2 = hp.Int('units2', min_value=25, max_value=512, step=32)
  units3 = hp.Int('units3', min_value=25, max_value=512, step=32)
  model.add(Dense(units=units1, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units2, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units3, activation='relu'))
  model.add(Dense(1, kernel_initializer='normal', activation='linear'))

  hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])

  model.compile(
      optimizer=tf.keras.optimizers.Adam(learning_rate=hp_learning_rate),
      loss=msle,
      metrics=[msle]
  )

  return model

in order to fet a high-performing model quickly, the Hyperband tuning algorithm makes use of adaptive resource allocation and early-stopping

In [ ]:
# HyperBand algorithm from keras tuner
tuner = kt.Hyperband(
    build_annmodel,
    objective='val_mean_squared_logarithmic_error',
    max_epochs=10,
    directory='keras_tuner_dir',
    project_name='keras_tuner_demo'
)

In [ ]:
tuner.search(x_train,y_train,epochs=10,validation_split=0.2)

# The besthyper parameters are

In [ ]:
for p in ['units1','units2','units3','learning_rate']:
  print(p,tuner.get_best_hyperparameters()[0].get(p))

units1 57
units2 473
units3 281
learning_rate 0.01

# model Evaluation

In [ ]:
best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]
best_hps

In [ ]:
model = tuner.hypermodel.build(best_hps)

In [ ]:
history = model.fit(x_train,y_train, epochs =50, validation_split=0.2)

Epoch 1/50
425/425 [==============================] - 2s 3ms/step - loss: 3.2641 - mean_squared_logarithmic_error: 3.2641 - val_loss: 0.4362 - val_mean_squared_logarithmic_error: 0.4364
Epoch 2/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1884 - mean_squared_logarithmic_error: 0.1884 - val_loss: 0.2434 - val_mean_squared_logarithmic_error: 0.2461
Epoch 3/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1300 - mean_squared_logarithmic_error: 0.1300 - val_loss: 0.1525 - val_mean_squared_logarithmic_error: 0.1556
Epoch 4/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1046 - mean_squared_logarithmic_error: 0.1046 - val_loss: 0.1249 - val_mean_squared_logarithmic_error: 0.1276
Epoch 5/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0963 - mean_squared_logarithmic_error: 0.0963 - val_loss: 0.1237 - val_mean_squared_logarithmic_error: 0.1264
Epoch 6/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0928 - mean_squared_logarithmic_error: 0.0928 - val_loss: 0.1169 - val_mean_squared_logarithmic_error: 0.1200
Epoch 7/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0910 - mean_squared_logarithmic_error: 0.0910 - val_loss: 0.1108 - val_mean_squared_logarithmic_error: 0.1128
Epoch 8/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0896 - mean_squared_logarithmic_error: 0.0896 - val_loss: 0.1079 - val_mean_squared_logarithmic_error: 0.1103
Epoch 9/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0892 - mean_squared_logarithmic_error: 0.0892 - val_loss: 0.1103 - val_mean_squared_logarithmic_error: 0.1129
Epoch 10/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0879 - mean_squared_logarithmic_error: 0.0879 - val_loss: 0.1072 - val_mean_squared_logarithmic_error: 0.1097
Epoch 11/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0870 - mean_squared_logarithmic_error: 0.0870 - val_loss: 0.1125 - val_mean_squared_logarithmic_error: 0.1152
Epoch 12/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0862 - mean_squared_logarithmic_error: 0.0862 - val_loss: 0.1026 - val_mean_squared_logarithmic_error: 0.1048
Epoch 13/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0849 - mean_squared_logarithmic_error: 0.0849 - val_loss: 0.1037 - val_mean_squared_logarithmic_error: 0.1050
Epoch 14/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0849 - mean_squared_logarithmic_error: 0.0849 - val_loss: 0.0985 - val_mean_squared_logarithmic_error: 0.0997
Epoch 15/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0835 - mean_squared_logarithmic_error: 0.0835 - val_loss: 0.1075 - val_mean_squared_logarithmic_error: 0.1098
Epoch 16/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0830 - mean_squared_logarithmic_error: 0.0830 - val_loss: 0.0968 - val_mean_squared_logarithmic_error: 0.0984
Epoch 17/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0825 - mean_squared_logarithmic_error: 0.0825 - val_loss: 0.0948 - val_mean_squared_logarithmic_error: 0.0962
Epoch 18/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0809 - mean_squared_logarithmic_error: 0.0809 - val_loss: 0.0916 - val_mean_squared_logarithmic_error: 0.0926
Epoch 19/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0800 - mean_squared_logarithmic_error: 0.0800 - val_loss: 0.0909 - val_mean_squared_logarithmic_error: 0.0924
Epoch 20/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0790 - mean_squared_logarithmic_error: 0.0790 - val_loss: 0.1080 - val_mean_squared_logarithmic_error: 0.1104
Epoch 21/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0774 - mean_squared_logarithmic_error: 0.0774 - val_loss: 0.1008 - val_mean_squared_logarithmic_error: 0.1027
Epoch 22/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0764 - mean_squared_logarithmic_error: 0.0764 - val_loss: 0.1181 - val_mean_squared_logarithmic_error: 0.1187
Epoch 23/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0745 - mean_squared_logarithmic_error: 0.0745 - val_loss: 0.0994 - val_mean_squared_logarithmic_error: 0.1009
Epoch 24/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0730 - mean_squared_logarithmic_error: 0.0730 - val_loss: 0.0980 - val_mean_squared_logarithmic_error: 0.0987
Epoch 25/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0716 - mean_squared_logarithmic_error: 0.0716 - val_loss: 0.0970 - val_mean_squared_logarithmic_error: 0.0975
Epoch 26/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0707 - mean_squared_logarithmic_error: 0.0707 - val_loss: 0.0887 - val_mean_squared_logarithmic_error: 0.0896
Epoch 27/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0689 - mean_squared_logarithmic_error: 0.0689 - val_loss: 0.0997 - val_mean_squared_logarithmic_error: 0.1011
Epoch 28/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0692 - mean_squared_logarithmic_error: 0.0692 - val_loss: 0.0948 - val_mean_squared_logarithmic_error: 0.0956
Epoch 29/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0684 - mean_squared_logarithmic_error: 0.0684 - val_loss: 0.0969 - val_mean_squared_logarithmic_error: 0.0984
Epoch 30/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0666 - mean_squared_logarithmic_error: 0.0666 - val_loss: 0.0914 - val_mean_squared_logarithmic_error: 0.0920
Epoch 31/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0666 - mean_squared_logarithmic_error: 0.0666 - val_loss: 0.0988 - val_mean_squared_logarithmic_error: 0.0997
Epoch 32/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0665 - mean_squared_logarithmic_error: 0.0665 - val_loss: 0.1063 - val_mean_squared_logarithmic_error: 0.1088
Epoch 33/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0656 - mean_squared_logarithmic_error: 0.0656 - val_loss: 0.0952 - val_mean_squared_logarithmic_error: 0.0967
Epoch 34/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0647 - mean_squared_logarithmic_error: 0.0647 - val_loss: 0.0943 - val_mean_squared_logarithmic_error: 0.0955
Epoch 35/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0644 - mean_squared_logarithmic_error: 0.0644 - val_loss: 0.0914 - val_mean_squared_logarithmic_error: 0.0928
Epoch 36/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0640 - mean_squared_logarithmic_error: 0.0640 - val_loss: 0.0996 - val_mean_squared_logarithmic_error: 0.0997
Epoch 37/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0639 - mean_squared_logarithmic_error: 0.0639 - val_loss: 0.1021 - val_mean_squared_logarithmic_error: 0.1040
Epoch 38/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0642 - mean_squared_logarithmic_error: 0.0642 - val_loss: 0.1311 - val_mean_squared_logarithmic_error: 0.1343
Epoch 39/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0631 - mean_squared_logarithmic_error: 0.0631 - val_loss: 0.1041 - val_mean_squared_logarithmic_error: 0.1062
Epoch 40/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0635 - mean_squared_logarithmic_error: 0.0635 - val_loss: 0.1015 - val_mean_squared_logarithmic_error: 0.1036
Epoch 41/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0620 - mean_squared_logarithmic_error: 0.0620 - val_loss: 0.0942 - val_mean_squared_logarithmic_error: 0.0955
Epoch 42/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0619 - mean_squared_logarithmic_error: 0.0619 - val_loss: 0.1035 - val_mean_squared_logarithmic_error: 0.1056
Epoch 43/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0609 - mean_squared_logarithmic_error: 0.0609 - val_loss: 0.0921 - val_mean_squared_logarithmic_error: 0.0929
Epoch 44/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0610 - mean_squared_logarithmic_error: 0.0610 - val_loss: 0.0967 - val_mean_squared_logarithmic_error: 0.0978
Epoch 45/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0607 - mean_squared_logarithmic_error: 0.0607 - val_loss: 0.0891 - val_mean_squared_logarithmic_error: 0.0903
Epoch 46/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0602 - mean_squared_logarithmic_error: 0.0602 - val_loss: 0.0934 - val_mean_squared_logarithmic_error: 0.0950
Epoch 47/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0603 - mean_squared_logarithmic_error: 0.0603 - val_loss: 0.0904 - val_mean_squared_logarithmic_error: 0.0916
Epoch 48/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0605 - mean_squared_logarithmic_error: 0.0605 - val_loss: 0.1010 - val_mean_squared_logarithmic_error: 0.1031
Epoch 49/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0595 - mean_squared_logarithmic_error: 0.0595 - val_loss: 0.1085 - val_mean_squared_logarithmic_error: 0.1108
Epoch 50/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0595 - mean_squared_logarithmic_error: 0.0595 - val_loss: 0.1160 - val_mean_squared_logarithmic_error: 0.1188

In [ ]:
eval_result = model.evaluate(x_test,y_test)
print(eval_result)

94/94 [==============================] - 0s 2ms/step - loss: 0.0776 - mean_squared_logarithmic_error: 0.0776
[0.07762549072504044, 0.07757676392793655]

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 57)                513

 dense_13 (Dense)            (None, 473)               27434

 dense_14 (Dense)            (None, 281)               133194

 dense_15 (Dense)            (None, 1)                 282

=================================================================
Total params: 161,423
Trainable params: 161,423
Non-trainable params: 0
_________________________________________________________________